{% extends 'base.html' %}

{% block title %}Editar Disciplina{% endblock %}

{% block content %}
    <div class="container">
        <h1>Editar Disciplina</h1>
        <form action="{{ url_for('editar_disciplina', id=disciplina[0]) }}" method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" value="{{ disciplina[1] }}" required>
            </div>
            <div class="form-group">
                <label for="carga_horaria">Carga Horária</label>
                <input type="number" id="carga_horaria" name="carga_horaria" value="{{ disciplina[2] }}" required>
            </div>
            <button type="submit" class="btn">Salvar</button>
            <a href="{{ url_for('listar_disciplinas') }}" class="btn">Voltar</a>
        </form>
    </div>
{% endblock %}