{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <h1>Editar Curso</h1>
        
        <form action="{{ url_for('editar_curso', id=curso[0]) }}" method="POST" class="form-container">
            <div class="form-group">
                <label for="nome">Nome do Curso</label>
                <input type="text" id="nome" name="nome" class="form-control" value="{{ curso[1] }}" required>
            </div>
            
            <div class="form-group">
                <label>Disciplinas</label>
                <div class="disciplinas-container">
                    {% for disciplina in disciplinas %}
                        <div class="disciplina-item">
                            <input type="checkbox" id="disciplina_{{ disciplina[0] }}" name="disciplinas" value="{{ disciplina[0] }}"
                                   {% if disciplina[0] in curso_disciplinas %} checked {% endif %}>
                            <label for="disciplina_{{ disciplina[0] }}">{{ disciplina[1] }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn">Salvar</button>
                <a href="{{ url_for('listar_cursos') }}" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</main>
{% endblock %}