{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Página Principal</h1>
    <h2>Sistema de Gestão Escolar</h2>
    <div class="form-group button-group">
        <a href="/disciplinas" class="btn btn-primary btn-large">Disciplinas</a>
        <a href="/cursos" class="btn btn-primary btn-large">Cursos</a>
        <a href="/professores" class="btn btn-primary btn-large">Professores</a>
        <a href="/" class="btn btn-primary btn-large">Alunos</a>
    </div>
{% endblock %}
