{% extends 'base.html' %}

{% block title %}Listar Disciplinas{% endblock %}

{% block content %}
    <div class="container">
        <h1>Disciplinas</h1>
        <a href="{{ url_for('cadastrar_disciplina') }}" class="btn">Nova Disciplina</a>
        {% if disciplinas %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Carga Horária</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for disciplina in disciplinas %}
                <tr>
                    <td>{{ disciplina[0] }}</td>
                    <td>{{ disciplina[1] }}</td>
                    <td>{{ disciplina[2] }}</td>
                    <td>
                        <a href="{{ url_for('editar_disciplina', id=disciplina[0]) }}" class="btn">Editar</a>
                        <form action="{{ url_for('excluir_disciplina', id=disciplina[0]) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn" style="background-color: #d9534f;">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Não há disciplinas cadastradas no momento.</p>
        {% endif %}
    </div>
{% endblock %}